<!-- <div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>You're logged in with Angular 8 & JWT!!</p>
        <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
        <p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>
</div> -->

<mat-card class="example-card" *ngFor="let chantier of chantiers">
  <mat-card-header>
    <mat-card-title>{{chantier.name}}</mat-card-title>
    <!-- <mat-card-subtitle>
      <a mat-mini-fab color="primary" href="https://www.google.com/maps/search/?api=1&query=50.866759,4.320649" style="margin-right:20px">
        <mat-icon>room</mat-icon>
        </a>
        <a mat-mini-fab color="primary" href="tel:+1-303-499-7111" style="margin-right:20px">
        <mat-icon>local_phone</mat-icon>
        </a>
        </mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
<mat-list role="list">
  <mat-list-item role="listitem">Address: {{chantier.address}}
    <a mat-mini-fab color="primary" [href]="chantier.location">
        <mat-icon>room</mat-icon>
        </a>
  </mat-list-item>
  <mat-list-item role="listitem">Phone: {{chantier.phone}}
    <a mat-mini-fab color="primary" [href]="chantier.phone">
        <mat-icon>local_phone</mat-icon>
        </a>
  </mat-list-item>
  <mat-list-item role="listitem">Santier Conductor: {{chantier.conductor}}</mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-accordion>
  <mat-expansion-panel *ngFor="let task of chantier.tasks">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{task.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{task.details}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let material of task.materials">
      <pre>{{material | json}}</pre>
        <!-- id: number;
    name: string;
    link: string;
    image: String;
    toDo: number;
    done: number;
    details: string; -->
    </div>
    <mat-form-field>
      <input matInput placeholder="First name" value="">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>

<pre>{{chantiers | json}}</pre>